<h1> Reed College Basketball </h1>

<p> Hi <%= @user.name %>! Edit your status for the game
  <%=@next_game_day_name%> (<%=@next_game.strftime("%m/%d")%>) by selecting one
  of the buttons, or edit your username in the box below. Enter your email to
  receive prompts on Saturday to update your playing status.
</p>
<br>
<br>

<form action="/users/<%=@user.id%>" method='post'>
  <input type="hidden" name="_method" value="PATCH">
    <div class="btn-group" data-toggle="buttons">
      <% ['Yes', 'No', 'Maybe', 'NoResponse'].each do |option| %>
        <!for some reason, couldn't use :symbols for each loop, had to use string>
        <% if option == @user.status %>
          <label class="btn btn-default active">
          <input type="radio" name="user[status]" value="<%=option%>"
            checked> <%=option%>
        <% else %>
          <label class="btn btn-default">
          <input type="radio" name="user[status]" value="<%=option%>"> <%=option%>
        <% end %>
        </label>
      <% end %>
    </div>
    <br>
    <br>
  Username: <input type="text" name="user[name]" value="<%=@user.name%>">
  <br>
  Email: <input type="text" name="user[email_address]" value="<%=@user.email_address%>">
  <br>
  <br>
  <input type="submit" class='btn btn-default' value="Submit">
</form>
